/*Site de Icones: https://fontawesome.com/v4/get-started/*/

*{
    margin: 0;
    padding: 0;
    overflow-x: 0;
}

#servicos{
    background-color: rgb(239, 239, 239);
    height: 100vh;
    display: flex;
    align-items: center;
}
#carouselExampleControls{
    height: 50vh;
}
#legenda{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 99, 99);

}

.carousel{
    width: 100%;
}

.carousel-item{
    height: 450px;
    justify-content: end;
}

